
body {
    background-color: #d6e3fc;
    font-family: 'Alegreya Sans', sans-serif;
}

#hemMain{
    font-size: 5rem;
}

#skolaImage{
    border: 1px solid black;
    border-radius: 5%;
}

#hemText{
    background: black;
    color: white;
}

.imageBorder{
    border: 1px solid black;
}
 
.listBox{
    border: 1px solid black;
    border-radius: 5px;
    background-color: khaki;
}

a{
    cursor: pointer;
}

#flygfoto{
    color: blue;
    background-color: transparent;
    text-decoration: underline;
}