
body {
    background-color: #d6e3fc;
    font-family: 'Alegreya Sans', sans-serif;
<<<<<<< HEAD
}

#hemMain{
    font-size: 5rem;
}

#skolaImage{
    border: 1px solid black;
    border-radius: 5%;
}

#hemText{
    background: black;
    color: white;
}

.imageBorder{
    border: 1px solid black;
}
||||||| merged common ancestors
}
=======
}

.mellanBild{
    height: 300px;
    width: 500px;
}
>>>>>>> 36ab9975d8e5d788fbe1fcfd5174ac46dc55e25f
